header {
    background-color: #81becf;

}

.container main {
    display: flex;
    gap: 130px;
    margin: 0 100px;
}

* {
    background-color: #f6f6f6;
}

.first-block {
    flex: 1;
    height: 160px;
    margin-top: 85px;
}

.second-block {
    flex: 1;
    height: 800px;
    margin-top: 85px;
}

fieldset {
    padding: 20px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 30px;
    height: 60%;
}

.left-side {
    flex: 1;
}

.buttons {
    flex: 1;
    margin-top: -60px;
}

.button-categories {
    border: none;
    background-color: #81becf;
    border-radius: 10px;
    padding: 8px 32px;
    margin: 0 6px;
    margin-top: 54px;
}

button:active {
    transform: translateY(2px);
}

.enter {
    background-color: #a6a6a6;
    border-radius: 50%;
    border: none;
    padding: 5px 8px;
    position: absolute;
    bottom: 20px; 
    left: 510px;
}

svg {
    background: transparent;
}

.filter {
    background-color: #a6a6a6;
    border-radius: 50%;
    border: none;
    padding: 5px 8px;
    margin-right: 5px;
}

.left-fieldset {
    position: relative;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    margin-left: 90px;
    margin-top: 20px;
    width: 80%;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid ;
}

.watch {
    position: absolute;
    bottom: 72px; 
    left: 25px;
    background: transparent;
    border: none;
}
