header {
    background-color: #81becf;
}

.container main {
    display: flex;
    gap: 130px;
    margin: 0 100px;
}

* {
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.first-block {
    flex: 1;
    height: 160px;
    margin-top: 85px;
}

.second-block {
    flex: 1;
    height: 850px;
    margin-top: 85px;
}

.process-block {
    flex: 1;
    height: 295px; 
    margin-top: 30px;
    margin-right: 15px; 
}

.done-block {
    flex: 1;
    height: 295px; 
    margin-top: 30px;
    margin-left: 15px;
}

.process-done-container {
    display: flex;
    gap: 30px;
    margin-top: 0px;
}

.process-block fieldset,
.done-block fieldset {
    background-color: #81becf8e;
    border: none;
    border-radius: 30px;
    height: 100%;
    padding: 20px;
}

fieldset {
    padding: 20px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 30px;
    height: 60%;
}

.left-side {
    flex: 1;
}

.buttons {
    flex: 1;
    margin-top: -60px;
}

.button-categories {
    border: none;
    background-color: #81becf;
    border-radius: 10px;
    padding: 8px 32px;
    margin: 0 6px;
    margin-top: 54px;
}

button:active {
    transform: translateY(2px);
}

.enter {
    background-color: #a6a6a6;
    border-radius: 50%;
    border: none;
    padding: 5px 8px;
    position: absolute;
    bottom: 20px; 
    left: 510px;
}

svg {
    background: transparent;
}

.filter {
    background-color: #a6a6a6;
    border-radius: 50%;
    border: none;
    padding: 5px 8px;
    margin-right: 5px;
}

.left-fieldset {
    position: relative;
}

input:focus {
    border-bottom: 3px solid ;
    border-color: #81becfec;
}

.priority {
    position: absolute;
    margin-top: 42px; 
    left: 25px;
    background: transparent;
    border: none;
    z-index: 2;
}

.input-box {
    background: transparent;
    position: relative;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.task-input {
    background: #d1d1d1;
    margin-left: 90px;
    margin-top: 26px;
    width: 60%;
    padding: 15px 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
}

.task-label {
    position: absolute;
    top: 50%;
    left: 105px;
    transform: translateY(-50%);
    background: transparent;
    color: #212529;
    opacity: 0.6;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;

}


.task-input:focus + .task-label,
.task-input:not(:placeholder-shown) + .task-label {
    top: 0;
    left: 102px;
    transform: translateY(-40%);
    font-size: 16px;
    color: #6a9caa;
    opacity: 1;
    background: transparent;
    padding: 0 4px;
}

.char-counter {
    position: absolute;
    bottom: -25px;
    margin-left: 420px;
    background: transparent;
    color: #666;
    font-size: 14px;
}

h1 {
    background: transparent;
    text-align: center;
    margin-top: 4px;
    opacity: 0.7;
}

h2 {
    background: transparent;
    text-align: center;
    margin-top: 2px;
    font-size: 20px;
    color: #557e89;
}